<form action="">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="E-mail" placeholder="E-mail">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Senha</label>
        <input type="text" class="form-control" id="Senha" placeholder="Senha">
        <a href="/cadastrar">Cadastros</a>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>