<div class="container-tudo">
<form action="">
    <div class="mb-3">
        <!--REALIZANDO UM BIND-->
        <h1>{{nome}} {{sobrenome}}</h1>
        <br>
        <label for="formGroupExampleInput" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="E-mail" placeholder="E-mail">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Senha</label>
        <input type="text" class="form-control" id="Senha" placeholder="Senha">
        <br>
        <a href="/cadastrar"><h3>Cadastrar</h3></a>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-light">Entrar</button>
    </div>
</form>
</div>